<%- include("partials/header.ejs") %>
<h1>Rick and Morty Characters</h1>

<% if(locals.data){ %>
    <div class="center">
    <% for(var result of data){ %>
        <div class="article-card">
          <div class="content">
            <p class="date"><%= result.name %></p>
            <p class="title">Status : <%= result.status %></p>
            <p class="title">Location : <%= result.origin.name %></p>
          </div>
          <img src="<%= result.image%>" alt="article-cover" />
        </div>
    <% } %> 
<% } %> 